body{
   background-image: url(hintergrund.jpg);
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
  
   }
   
   h1{
      font-size:  100px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    letter-spacing: -9px;
   position: absolute;
   width:100%;        
   margin-left:auto;
   margin-right:auto;
   background-position:center;
   top: -80px;
   
   
   }
   #by{
      color: #65e2a3;
      font-size: 50px; 
      margin-top: -280px;
      margin-left: 180;
      letter-spacing: -2;
      font-weight: 700;

   }
   
   #halbkreis {
    background-color: rgb(30, 95, 57);
   width: 800px;
   height: 400px;
   border-radius:0 0 500px 500px;
   z-index: -1;
   display: inline-block;
   margin-top: -10px;
  
}
   #text1{
   color: rgb(255, 255, 255);
   margin-left: 47%;
   width: 230px;
   height: 100px;
  margin-top: 70;
  
   }
   #instagram { 
      filter: opacity(95%);
width: 50spx;
height: 50px;
position: absolute;
margin-top: -70px;
margin-left: -210px;
opacity: 0.6;
    }

    #instagram:hover { 
opacity: 1;
}

    #tipper{
font-size: 35px;
border-right: 2px solid rgba(255, 255, 255, 0.75);
font-weight: 550;
white-space: nowrap;
overflow: hidden;
margin: 130 auto ;
     }

     /*animation*/
#tipper  {
   animation: typewriter 3s steps(40) 1s 1 normal both,
   blinkTextCursor 500ms steps(40) infinite normal;
   }

   @keyframes typewriter{
      from{
width: 0;
}
  to{
width: 16em;
 }
}

@keyframes blinkTextCursor {
   from {
      border-color: transparent 50%
   }
to{
   border-color: black;
}
}

#text2{
top: -110px;
   position: relative; 

}

#fototite{
font-size:25px;
font-weight: 600;
top: -45px;
position: relative;
}

#foto{
width: 1000px;
margin: 2px;
}
   
#header{
background-color: rgb(50, 124, 79);
height: 30px;
width: 220px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
position: fixed;
right: 10%;
margin: 0px;
top: 0px;
z-index: 10;
}

li {
   float: left;
}  

li a {
padding: 7px;
display: block;
}