body{
   background-image: url(bild2.jpg);
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
    
   }
   
   h1{
      font-size:  100px;
    font-weight: 800;
    top: 00px;
    color: rgb(0, 0, 0);
    letter-spacing: -10px;
   position: absolute;
   width:100%;        
   margin-left:auto;
   margin-right:auto;
   background-position:center;
   top: -80px;
   
   }
   #made{
      color: #46ac79;
      font-size: 40px; 
      left: -20px;
     margin-left: 200px;
      margin-top: 120px;
      
   
   }
   
   #halbkreis {
    background-color: #15462d;
   position: absolute;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    z-index: -5;
    margin: 100px auto auto auto;
   }
   #text1{
   font-weight:bold;
   color: rgb(0, 0, 0);
   left: 53%;
   transform: translate(-50%, 50%);
   position: absolute;
   width: 200px;
   height: 100px;
   }